.app-header {
    max-width: 1200px;
    margin: 0 auto;
    /* justify-content: center; */
}

.app-header h1 {
    width: 300px;
    font-size: 26px;
  
}
.app-header h2 {
    font-size: 26px;
    
}